<div *ngIf="player" class="player-card">

  <div class="player-content">

    <!-- COLUMNA IZQUIERDA: FOTO + INFO -->
    <div class="player-left">
      <img [src]="player.foto" alt="foto" class="player-photo">

      <h2 class="player-name">
        {{ player.nombre }} {{ player.apellidos }}
      </h2>

      <p><strong>Posición:</strong> {{ player.posicion }}</p>
      <p><strong>Edad:</strong> {{ player.edad }}</p>
      <p><strong>Altura:</strong> {{ player.altura }} cm</p>
      <p><strong>Equipo:</strong> {{ player.equipo }}</p>
    </div>

    <!-- COLUMNA DERECHA: VIDEO MÁS PEQUEÑO -->
    <div class="player-right">
      <app-media [videoUrl]="player.video"></app-media>
    </div>

  </div>

</div>
