:host {
  display: block;
  padding: 20px;
  color: white;
}

.player-title {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 36px;
  margin-bottom: 10px;
}

.player-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}


p {
  font-size: 20px;
  margin: 6px 0;
}

a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  background: rgba(255, 255, 255, 0.35);
}
