:host {
  display: block;
  width: 100%;
}

body {
  background-color: #0b0f1a;
}

.site-header {
  background-color: #0b0f1a;
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.site-footer {
  background-color: #0b0f1a;
  color: white;
}

.container-fluid {
  padding: 20px;
}